<div class="story-gallery">
    <div class="story story1"style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url({{profile_image}});">
      <img src="https://i.postimg.cc/TPh453Zz/upload.png" />
      <p>Post Story</p>
    </div>
    <div class="story story2" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1464863979621-258859e62245?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
      <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      <p>Begum</p>
    </div>
    <div class="story story3" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1493106819501-66d381c466f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
      <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      <p>Raju Bhai</p>
    </div>
    <div class="story story4" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1524081081171-7960da1de373?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
      <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      <p>Chotu Don</p>
    </div>
    <div class="story story5" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1518671157441-9c0520fb6018?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
      <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      <p>Noor Jaan</p>
    </div>
  </div>
