.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.story img{
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    top:10px;
    left: 10px;
    border: 5px solid #1876f2;

}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;

}


.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
    height: 35px;
}