
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

}
.main-content{
    flex-basis: 47%;
}
/*----------------- Media Query For Home Page -----------------*/

@media (max-width: 900px){
    .right-sidebar{
        display: none;
    }
    .left-sidebar{
        display: none;

    }
    
    .add-post-links{
        flex-wrap: wrap;

    }
    .main-content{
        flex-basis: 100%;

    }
    .story p{
        font-size: 10px;

    }
    .story.story1 img{
        width:  25px;
        bottom: 30px;

    }
    .add-post-links a{
        margin-right: 12px;
        font-size: 9px;

    }
    .add-post-links a img{
        width: 16px;
        margin-right: 5px;
    }
    .post-input-container{
        padding-left: 0;

    }
}
