
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Social Media</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script
    src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    data-auto-replace-svg="nest"
  ></script>


<nav>
  <div class="nav-left">
    <a href="Index.html">
      <img src="https://i.postimg.cc/Y9nZymQq/logo2.png" class="logo" />
    </a>
    <ul>
      <li><img src="https://i.postimg.cc/Fs3m1Djy/notification.png" /></li>
      <li><img src="https://i.postimg.cc/YqGKZ8nc/inbox.png" /></li>
      <li><img src="https://i.postimg.cc/xCzpgFjg/video.png" /></li>
    </ul>
  </div>
  <div class="nav-right">
    <div class="search-box">
      <img src="https://i.postimg.cc/SKtHgM6Q/search.png" />
      <input type="text" placeholder="Search" />
    </div>
    <div class="nav-user-icon online" >
      <img src={{profile_image}}/>
    </div>
  </div>
  <!----------------Settings Menu"----------------------->
  <div class="settings-menu" >
    <div id="dark-btn" >
      <span></span>
    </div>
    <div class="settings-menu-inner">
      <div class="user-profile">
        <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png" />
        <div>
          <p>John Nicholson</p>
          <a href="profile.html">See your profile</a>
        </div>
      </div>
      <hr />
      <div class="user-profile">
        <img src="https://i.postimg.cc/hv3nx52s/feedback.png" />
        <div>
          <p>Give Feedback</p>
          <a href="#">Help us to improve the new design</a>
        </div>
      </div>
      <hr />
      <div class="settings-links">
        <img
          src="https://i.postimg.cc/QCcPNYRV/setting.png"
          class="settings-icon"
        />
        <a href="#"
          >Settings & Privacy
          <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"
        /></a>
      </div>
      <div class="settings-links">
        <img
          src="https://i.postimg.cc/C5tydfK6/help.png"
          class="settings-icon"
        />
        <a href="#"
          >Help & Support<img
            src="https://i.postimg.cc/RF1dBMWr/arrow.png"
            width="10px"
        /></a>
      </div>
      <div class="settings-links">
        <img
          src="https://i.postimg.cc/5yt1XVSj/display.png"
          class="settings-icon"
        />
        <a href="#"
          >Display & Accessibility
          <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"
        /></a>
      </div>
      <div class="settings-links">
        <img
          src="https://i.postimg.cc/PJC9GrMb/logout.png"
          class="settings-icon"
        />
        <a href="#"
          >Logout
          <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"
        /></a>
      </div>
    </div>
  </div>
</nav>


<div class="container">
  <!----------------Left Sidebar----------------------->
  <div class="left-sidebar">
    <div class="imp-links">
      <a href="#"
        ><img src="https://i.postimg.cc/RCj4MjnC/news.png" />Latest News</a
      >
      <a href="#"
        ><img src="https://i.postimg.cc/MpBwMtV0/friends.png" />Friendss</a
      >
      <a href="#"><img src="https://i.postimg.cc/44FRWj1b/group.png" />Group</a>
      <a href="#"
        ><img
          src="https://i.postimg.cc/0jh39RtT/marketplace.png"
        />Marketplace</a
      >
      <a href="#"><img src="https://i.postimg.cc/VsXHCTVk/watch.png" />Watch</a>
      <a href="#">See More</a>
    </div>
    <div class="shortcut-link">
      <p>Your Shortcuts</p>
      <div *ngFor="let shortcut of shortcuts" class="abc">
        <a href="#">
          <img [src]="shortcut.image_url" alt="{{ shortcut.text }}" />
          {{ shortcut.text }}
        </a>
      </div>
    </div>
  </div>
  <!----------------Main Sidebar----------------------->
  <div class="main-content">
    <div class="story-gallery">
      <div class="story story1"style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url({{profile_image}});">
        <img src="https://i.postimg.cc/TPh453Zz/upload.png" />
        <p>Post Story</p>
      </div>
      <div class="story story2" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1464863979621-258859e62245?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <p>Begum</p>
      </div>
      <div class="story story3" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1493106819501-66d381c466f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <p>Raju Bhai</p>
      </div>
      <div class="story story4" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1524081081171-7960da1de373?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <p>Chotu Don</p>
      </div>
      <div class="story story5" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1518671157441-9c0520fb6018?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <p>Noor Jaan</p>
      </div>
    </div>
    <div class="write-post-container">
      <div class="user-profile">
        <img src={{profile_image}} />
        <div>
          <p>{{full_name.first_name}} {{full_name.last_name}}</p>
          <small>Public <i class="fas fa-caret-down"></i></small>
        </div>
      </div>
      <div class="post-input-container">
        <textarea rows="3" placeholder="What's on your mind, {{full_name.first_name}}?"></textarea>
        <div class="add-post-links">
          <a href="#"
            ><img src="https://i.postimg.cc/QMD2BDXs/live-video.png" />Live
            Video</a
          >
          <a href="#"
            ><img src="https://i.postimg.cc/6pKKZn0D/photo.png" />Photo/Video</a
          >
          <a href="#"
            ><img
              src="https://i.postimg.cc/Pf6TBCdD/feeling.png"
            />Feling/Activity</a
          >
        </div>
      </div>
    </div>
    <div *ngFor="let post of posts" class="post-container">
      <div class="post-row">
        <div class="user-profile">
          <img [src]="post.imgSrc" />
          <div>
            <p>{{ post.userName }}</p>
            <span>{{ post.timestamp }}</span>
          </div>
        </div>
        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
      </div>
      <p class="post-text" [innerHTML]="post.postText"></p>
      <img [src]="post.postImgSrc" class="post-img" />
      <div class="post-row">
        <div class="activity-icons">
          <div>
            <img src="https://i.postimg.cc/pLKNXrMq/like-blue.png" />{{ post.likeCount }}
          </div>
          <div><img src="https://i.postimg.cc/rmjMymWv/comments.png" />{{ post.commentCount }}</div>
          <div><img src="https://i.postimg.cc/T2bBchpG/share.png" />{{ post.shareCount }}</div>
        </div>
        <div class="post-porfile-icon">
          <img [src]="post.imgSrc" /><i class="fas fa-caret-down"></i>
        </div>
      </div>
    </div>
    <button type="button" class="load-more-btn">Load More</button>
  </div>
  <!----------------Right Sidebar----------------------->
  <div class="right-sidebar">
    <div class="sidebar-title">
      <h4>Events</h4>
      <a href="#">See All</a>
    </div>
    <div *ngFor="let event of events" class="event">
      <div class="left-event">
        <h3>{{ event.event_date }}</h3>
        <span>{{ event.event_month }}</span>
      </div>
    
      <div class="right-event">
        <h4>{{ event.event_desc }}</h4>
        <p><i class="fas fa-map-marker-alt"></i> {{ event.event_location }}</p>
        <a href="#">More Info</a>
      </div>
    </div>
    <div class="sidebar-title">
      <h4>Advertisement</h4>
      <a href="#">close</a>
    </div>
    <img
      src="https://i.postimg.cc/CLXYx9BL/advertisement.png"
      class="siderbar-ads"
    />
    <div class="sidebar-title">
      <h4>Conversation</h4>
      <a href="#">Hide Chat</a>
    </div>
    <div *ngFor="let convo of conversation" class="online-list">
      <div class="online">
        <img [src]="convo.convo_img_url" alt="{{ convo.convo_name }}" />
      </div>
      <p>{{ convo.convo_name }}</p>
    </div>
  </div>
</div>