<app-navbar></app-navbar>

<div class="container">
  <!----------------Left Sidebar----------------------->
  <div class="left-sidebar">
    <app-imp-links-left-sidebar></app-imp-links-left-sidebar>
    <app-shortcuts-left-sidebar></app-shortcuts-left-sidebar>
  </div>
  <!----------------Main Sidebar----------------------->
  <div class="main-content">
    <div class="story-gallery">
      <div class="story story1"style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url({{profile_image}});">
        <img src="https://i.postimg.cc/TPh453Zz/upload.png" />
        <p>Post Story</p>
      </div>
      <div class="story story2" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1464863979621-258859e62245?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <p>Begum</p>
      </div>
      <div class="story story3" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1493106819501-66d381c466f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <p>Raju Bhai</p>
      </div>
      <div class="story story4" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1524081081171-7960da1de373?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <p>Chotu Don</p>
      </div>
      <div class="story story5" style="background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1518671157441-9c0520fb6018?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <p>Noor Jaan</p>
      </div>
    </div>
    <div class="write-post-container">
      <div class="user-profile">
        <img src={{profile_image}} />
        <div>
          <p>{{full_name.first_name}} {{full_name.last_name}}</p>
          <small>Public <i class="fas fa-caret-down"></i></small>
        </div>
      </div>
      <div class="post-input-container">
        <textarea rows="3" placeholder="What's on your mind, {{full_name.first_name}}?"></textarea>
        <div class="add-post-links">
          <a href="#"
            ><img src="https://i.postimg.cc/QMD2BDXs/live-video.png" />Live
            Video</a
          >
          <a href="#"
            ><img src="https://i.postimg.cc/6pKKZn0D/photo.png" />Photo/Video</a
          >
          <a href="#"
            ><img
              src="https://i.postimg.cc/Pf6TBCdD/feeling.png"
            />Feling/Activity</a
          >
        </div>
      </div>
    </div>
    <div *ngFor="let post of posts" class="post-container">
      <div class="post-row">
        <div class="user-profile">
          <img [src]="post.imgSrc" />
          <div>
            <p>{{ post.userName }}</p>
            <span>{{ post.timestamp }}</span>
          </div>
        </div>
        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
      </div>
      <p class="post-text" [innerHTML]="post.postText"></p>
      <img [src]="post.postImgSrc" class="post-img" />
      <div class="post-row">
        <div class="activity-icons">
          <div>
            <img src="https://i.postimg.cc/pLKNXrMq/like-blue.png" />{{ post.likeCount }}
          </div>
          <div><img src="https://i.postimg.cc/rmjMymWv/comments.png" />{{ post.commentCount }}</div>
          <div><img src="https://i.postimg.cc/T2bBchpG/share.png" />{{ post.shareCount }}</div>
        </div>
        <div class="post-porfile-icon">
          <img [src]="post.imgSrc" /><i class="fas fa-caret-down"></i>
        </div>
      </div>
    </div>
    <button type="button" class="load-more-btn">Load More</button>
  </div>
  <!----------------Right Sidebar----------------------->
  <div class="right-sidebar">
    <app-events-right-sidebar></app-events-right-sidebar>
    <app-advertisements-right-sidebar></app-advertisements-right-sidebar>
    <app-conversation-right-sidebar></app-conversation-right-sidebar>
  </div>
</div>