* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
  }
  
  .dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
  }
  body {
    background: var(--body-color);
    transition: background 0.3s;
  }
  
  :root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
  }
  
  .online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;

}